#sender-avatar {
  float: left;
}

.sender-name {
  display: inline-block;
  width: calc(100% - 50px);
  margin: 0 0 0 10px;
  color: #464646;
}

.comment-time {
  display: inline-block;
  width: calc(100% - 50px);
  margin: 0 0 0 10px;
  font-size: 0.85rem;
  color: #464646;
}

.comment-text {
  display: inline-block;
  margin: 5px 0 0 45px;
  overflow-wrap: anywhere;
}

.me-label {
  background-color: rgb(50, 50, 200);
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  margin-left: 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.seller-label {
  background-color: rgb(120, 115, 20);
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  margin-left: 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}
