#sender-avatar {
  float: left;
}

.sender-name {
  display: inline-block;
  line-height: 35px;
  width: calc(100% - 45px);
  margin: 0 0 0 10px;
  color: #464646;
}

.comment-text {
  display: inline-block;
  margin: 0 0 0 45px;
  overflow-wrap: anywhere;
}

.me-label {
  background-color: rgb(127, 131, 250);
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  margin-left: 5px;
  border-radius: 3px;
  color:white;
  font-weight: bold;
}

.seller-label {
  background-color: rgb(221, 180, 103);
  font-size: 0.8rem;
  padding: 0.1rem 0.4rem;
  margin-left: 5px;
  border-radius: 3px;
  color:white;
  font-weight: bold;
}
