#picture-area {
  width: 100%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.picture-link {
  text-decoration: none;
}

#picture-area p {
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

#picture-area p:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-out;
}

.game-title {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

#game-icon {
  width: 2rem;
  color: black;
}
