.cards-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.cards-wrapper {
  position: relative;
  margin-top: 20px;
}

.cards-items {
  display: flex;
  flex-wrap: wrap;
}

.cards-item {
  display: flex;
  flex: 1;
  border-radius: 8px;
  margin: 0;
}

.cards-item-link {
  display: inline-block;
  position:relative;
  padding-bottom: 15px;
  margin-left: 5px;
  margin-bottom: 30px;
  padding-bottom: 3.7rem;
  width: 250px;
  background: #ffffff;
  box-shadow: 0 6px 20px rgba(24, 53, 106, 0.17);
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
}

.cards-item-info {
  padding: 10px 15px 0 17px;
}

.cards-item-text {
  color: #252e48;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 0;
  font-weight: normal;
}

.detail-button {
  width: 218px;
}

@media only screen and (max-width: 1024px) {
  .cards-item {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 660px) {
  .cards-items {
    justify-content: center;
  }

  .cards-item {
    display: flex;
    flex: 0;
    border-radius: 8px;
    margin: 0;
  }
}
