#user-items {
    padding: 1.5rem 2% 1.5rem 2%;
    overflow-y: scroll;
}

#user-items h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

#items-list {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

#avatar-upload {
    display: none;
}

#avatarimg:hover {
    cursor: pointer;
}

#avatarimg {
    padding: 0%;
    border-radius: 0.5em;
}

#imagebutton {
    border-radius: 0.5em;
}

#imagebutton:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-out;
}

#textgrid {
    margin-top: 2em;
}

#edittext {
}
